</div>

<footer class="bg-dark" data-bs-theme="dark">
    

    <div class="d-flex justify-content-start align-items-center flex-wrap ps-5 py-3 h-100 w-100">

        <div class="footer-logo">
            HAKILAH
        </div>

        <div class="d-flex justify-content-start align-items-start flex-wrap">
            <div class="footer-text">
                <span>© 2023 hakilah</span><br>
                <span>All rights reserved</span>
            </div>
    
            <div class="footer-text">
                <i class="fas fa-envelope me-1"></i>
                <a href="mailto:hakilah@gmail.com" class="text-light">hakilah@gmail.com</a>
            </div>
        </div>
        

    </div>
    

</footer>
