<%- include('components/head.ejs'); %>
<%- include('components/navbar.ejs'); %>

<section class="d-flex flex-column align-items-center" style="padding-top: 100px;">
    <h1>404 Not Found.</h2>
    <img src="/images/evil-cat.gif" class="d-block mt-3">
</section>

<%- include('components/footer.ejs'); %>
<%- include('components/foot.ejs'); %>
