<%- include('components/head.ejs'); %>
<%- include('components/navbar.ejs'); %>

<section class="container">
    <div class="row justify-content-around g-0">
        <div class="content-md">
            
            <form action="/cart" method="post" onsubmit="return validateForm(event)">

                
            </form>

        </div>
    </div>
        

</section>



<script type="text/javascript">

</script>


<%- include('components/footer.ejs'); %>
<%- include('components/foot.ejs'); %>
